<h1>Lets Eat Some Burgers!</h1>

<h2>Uneaten burgers!</h2>

<ul>
  {{#each burger}}
    {{#unless this.devoured}}
    	<p>{{this.burger_name}}</p>

    	

    	<button class="eat-burger" name = "eatBurger" id="eat" data-id="{{id}}" data-devoured="{{devoured}}">
			{{#if devoured}}Already Eaten!{{else}}Eat Me{{/if}}
		</button>

    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten!</h2>

<ul>
  {{#each burger}}
    {{#if this.devoured}}
      {{this.burger_name}}
     
    {{/if}}
  {{/each}}
</ul>



<p>{{data}}</p>

<form action="/api/burger" method="POST">
	<textarea type="text" name="newBurger" id="newBurger"></textarea>
	<button type="submit" id="submit">Submit your new burger</button>
</form>

<script>
$(".submit").on("click", function (event){
	event.preventDefault();

	var burger_name = $("#newBurger").val().trim();


	$.ajax("/api/burger", {
		type: "POST",
		data: burger_name
	}).then(function (data){
		console.log(data);
		location.reload();
	});
});

$("#eat").on("click", function (event){
	event.preventDefault();

	var id = $(this).data("id")


	var eatBurger = {
		id: id
	}

	$.ajax("/api/burger", {
		type: "PUT",
		data: eatBurger
	}).then(function(data){
		console.log(data.eatBurger)
		location.reload();
	});
});



</script>